APP_ENV=development
COLLECTOR_INSTANCE_ID=collector-1
COLLECTOR_TOTAL_SHARDS=3
COLLECTOR_WINDOW_SECONDS=10
COLLECTOR_EVENTS_PER_SECOND=50
COLLECTOR_ARROW_ADDR=:8080
COLLECTOR_ETCD_ENDPOINTS=http://etcd:2379
COLLECTOR_NATS_URL=nats://nats:4222
COLLECTOR_NATS_SUBJECT=metro.passenger.windows
ANALYTICS_ARROW_URL=http://collector:8080/arrow
ANALYTICS_NATS_URL=nats://nats:4222
ANALYTICS_NATS_SUBJECT=metro.passenger.windows
ANALYTICS_PARQUET_PATH=/app/data/passenger_flow.parquet

